/* =====================================================
   KIVUSTREAM PRO CARDS
   ===================================================== */

.movie-grid{
   display:grid;

grid-template-columns:
repeat(auto-fill,minmax(220px,1fr));

gap:20px;
}
.movie-slider{
    display:flex;
    gap:24px;
    overflow-x:auto;
    overflow-y:hidden;
    scroll-behavior:smooth;
    padding-bottom:10px;
    scrollbar-width:none;
}

.movie-slider::-webkit-scrollbar{
    display:none;
}

/* ========================= */

.movie-card{

    display:block;

    min-width:220px;
    width:100%;

    text-decoration:none;

    color:#fff;

    transition:.35s ease;

}

.movie-card:hover{

    transform:translateY(-10px);

}

/* ========================= */

.movie-poster{

    position:relative;

    width:100%;

    aspect-ratio:2/3;

    overflow:hidden;

    border-radius:18px;

    background:#111;

    box-shadow:
        0 18px 45px rgba(0,0,0,.45);

}

.movie-poster img{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

    transition:.45s ease;

}

.movie-card:hover .movie-poster img{

    transform:scale(1.08);

}

/* ========================= */

.movie-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,.15),
        rgba(0,0,0,.88)
    );

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    transition:.35s;

}

.movie-card:hover .movie-overlay{

    opacity:1;

}

/* ========================= */

.play-circle{

    width:72px;

    height:72px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:#00d26a;

    color:#fff;

    font-size:30px;

    box-shadow:0 10px 25px rgba(0,210,106,.4);

    transition:.3s;

}

.play-circle:hover{

    transform:scale(1.12);

}

/* ========================= */

.badge-year{

    position:absolute;

    left:12px;

    top:12px;

    background:rgba(0,0,0,.75);

    backdrop-filter:blur(8px);

    padding:6px 12px;

    border-radius:30px;

    font-size:12px;

    font-weight:600;

}

.badge-translator{

    position:absolute;

    right:12px;

    top:12px;

    background:#00d26a;

    color:#fff;

    padding:6px 12px;

    border-radius:30px;

    font-size:12px;

    font-weight:700;

}

/* ========================= */

.movie-info{

    padding-top:14px;

}

.movie-info h3{

    font-size:17px;

    font-weight:600;

    line-height:1.4;

    margin-bottom:8px;

    color:#fff;

    overflow:hidden;

    white-space:nowrap;

    text-overflow:ellipsis;

}

.movie-info p{

    color:#ffc107;

    font-weight:600;

    font-size:15px;

}
