.footer{
    background:#111;
    padding:60px 20px;
    text-align:center;
}

.footer img{
    width:70px;
    margin:auto;
}

.footer h2{
    margin:20px 0;
    color:var(--primary);
}

.footer p{
    color:#bbb;
    margin-top:10px;
}
