.search-container{

display:flex;

gap:15px;

margin-bottom:40px;

flex-wrap:wrap;

}

.search-container input{

flex:1;

padding:15px;

border-radius:8px;

border:none;

font-size:1rem;

}

.load-more{

margin:50px 0;

text-align:center;

}
