:root{

--primary:#00d26a;
--secondary:#0099ff;

--bg:#090909;
--surface:#121212;
--surface2:#1c1c1c;

--text:#ffffff;
--text2:#bdbdbd;

--radius:18px;

--shadow:
0 15px 35px rgba(0,0,0,.35);

--transition:.3s ease;

--container:1400px;

}
