<nav class="navbar">

    <div class="container nav-container">

        <a href="index.html" class="logo">
            <img src="assets/logo.png" alt="KivuStream Logo">
            <span>KivuStream</span>
        </a>

        <ul class="nav-links">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="movies.html">Movies</a></li>
            <li><a href="series.html">Series</a></li>
            <li><a href="profile.html">My List</a></li>
        </ul>

       <div class="nav-actions">

    <div class="search-box">
        <input
            type="text"
            id="searchInput"
            placeholder="Search movies..."
        >
    </div>

    <div id="authMenu"></div>

</div>

        <button class="menu-btn" id="menuBtn">
            ☰
        </button>

    </div>

</nav>
